.ContainerList{
    background-color: rgba(57, 224, 93, 0.212);
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

.loader{
    height: 300px;
    justify-content: center;
}

.burguer-loading{
    animation: rotation 3s infinite linear;
}