.cart-list{
    margin-top: 30px;
    color: white;
    padding: 20px 30px 30px 30px ;
    border: 0.8px solid  #ffffff;
    background: rgb(0, 0, 0);
    border-radius: 10px;
}

.header-lista{
    border-radius: 5px;
    padding: 10px;
    background-color: #FFC106 ;
    color: black;
}

.cart-item{
    padding: 10px;
    border-bottom: 0.5px solid rgba(223, 223, 223, 0.733);
}

.empty-gift{
    display: block;
    margin-left: auto;
    margin-right: auto;        
    height: 550px;
    width: 550px;
}