.logo-burguer{
    width: 40%;
    border: black solid 2px;
}

.dropdown-menu-cart {
    padding: 5px 10px;    
}




.header-menu {
    color: rgb(59, 59, 59);
    background: rgb(255, 217, 0);
    padding: 3px;
}


ul li {
    display: flex;
    list-style-type: none;
    margin: 0px;
    border-bottom: rgba(236, 43, 43, 0.39) 1px solid;
    

}

ul{
    padding-left: 0px ;
}

.label-cantidad{
    color:white;
    font-weight: bold;
    background: rgb(251, 136, 5);
    height: 30px;
    width: 20px;
    padding: 3px;
    margin: 5px;
    
}
.li-style{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin: 0;
    font-size: 1rem;
}

.menu-button{
    margin-bottom: 0px;
}
