.Item{
    max-height: 55rem;
    min-height: 40rem;
}

.margin-card{
    margin: 3rem;
}

.card-body{
    background: #000000;
    color: white;
}
.footer-card{
    border-top: 1px solid ;
    position: absolute;
    bottom: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
}